[submodule "picosdl"]
	path = picosdl
	url = https://github.com/anight/picosdl.git
	branch = master
[submodule "Wolf4SDL"]
	path = Wolf4SDL
	url = https://github.com/anight/Wolf4SDL.git
	branch = picowolf
